@model crudOperation.Models.StudentModels

@{
    ViewBag.Title = ViewBag.title;
}

<style>
    button.btn.btn-primary {
        margin-top: 10px;
    }
</style>

<h2>@ViewBag.title</h2>

<div class="row">
    <div class="col-md-10 col-md-offset-4">
        @using (Html.BeginForm())
        {
            @Html.LabelFor(nameformlable => nameformlable.Name)
            @Html.TextBoxFor(nameField => nameField.Name, new { @class = "form-control" })
            @Html.LabelFor(model => model.RegNo)
            @Html.TextBoxFor(model => model.RegNo, new { @class = "form-control" })
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            @Html.LabelFor(model => model.Department)
            @Html.DropDownList("DepartmentId",  null, "--Select--", new { @class = "form-control" })
            

            <button type="submit" id="createStudentButton" class="btn btn-primary">Submit</button>

        }
    </div>
</div>

<div>
    @Html.ActionLink("Back to student list", "StudentList", "Student")
</div>

